[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "panelaggregation"]
	path = panelaggregation
	url = https://github.com/cran/panelaggregation
